<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>관리 페이지</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="header" id="header">
  <a href="/admin" class="admin-link">Apnea Guard</a>
</div>

<h1>관리자 페이지</h1>

<div class="container">
  <a href="/admin/userPage" class="card">
    <div class="icon">👤</div>
    <h3>유저 관리</h3>
    <p>유저 정보 관리</p>
  </a>
  <a href="/admin/schedulerPage" class="card">
    <div class="icon">🔔</div>
    <h3>스케줄링 관리</h3>
    <p>스케줄링 on/off,강제 스케줄링</p>
  </a>
</div>
</body>
</html>
